<ul>
  <% @links.each do |link| %>
    <li><%= link %> <li>
  <% end %>
<ul>

<form action='/create-new-link' method=post>
  <input type="submit" value="Add link">
  <input type="text" name="addlink">
</form>
